<a href="https://colab.research.google.com/github/sugar100/Section-Project/blob/main/AI_03_%EB%B0%B1%EC%84%A4_section04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **유튜브 조회수와 제목의 상관관계**
### 유튜브 제목에 포홤된 긍정/부정의 단어가 조회수에 영향을 미치는가?

## **데이터 불러오기 & 간단한 전처리**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd 
import numpy as np

import re
import string
import seaborn as sns
import matplotlib.pyplot as plt
import spacy
from spacy.tokenizer import Tokenizer
from sklearn.feature_extraction.text import TfidfVectorizer

from collections import Counter
from sklearn.model_selection import train_test_split, GridSearchCV

import tensorflow as tf
from tensorflow import keras

In [3]:
# Import Libraries

import glob
import json
import datetime as dt
import os
import string
import re    #for regex

import random

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline

# plotting
import matplotlib.pyplot as plt
import matplotlib.pylab as pl
import matplotlib.colors as colors
import matplotlib.gridspec as gridspec
from matplotlib import cm
import seaborn as sns
import plotly.graph_objs as go
import plotly.offline as py

# natural language processing
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English

import nltk
from nltk.util import bigrams
from nltk.util import trigrams
from nltk.corpus import stopwords
from nltk import pos_tag
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.tokenize import RegexpTokenizer, TweetTokenizer


from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob

from tqdm import tqdm
import operator
from sklearn.decomposition import NMF, LatentDirichletAllocation, TruncatedSVD
from statistics import *
import concurrent.futures
import time

from pylab import bone, pcolor, colorbar, plot, show, rcParams, savefig

# keras module for building LSTM 
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Embedding, LSTM, Dense, Dropout
from keras.preprocessing.text import Tokenizer
from keras.callbacks import EarlyStopping
from keras.models import Sequential
import keras.utils as ku

In [4]:

#df(=youtube trending dataset) 불러오기
df = pd.read_csv('/content/drive/MyDrive/KRvideos.csv', engine = 'python')

# category name 생성
import json

with open('/content/drive/MyDrive/KR_category_id.json') as f:
  categories = json.load(f)["items"]
cat_dict = {}
for cat in categories:
  cat_dict[int(cat["id"])] = cat["snippet"]["title"]
df['category_name'] = df['category_id'].map(cat_dict)

df["category_name"].loc[df["category_name"].isnull() == True] = "비영리/사회운동"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
# 필요없는 columns 삭제
df = df.drop(['video_id', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed'], axis = 1)

In [6]:
df.duplicated().sum()  # 중복값 확인

# 중복값 제거
df = df.drop_duplicates()

In [7]:
df.isna().sum()

trending_date       0
title               0
channel_title       0
category_id         0
publish_time        0
tags                0
views               0
likes               0
dislikes            0
comment_count       0
description      2987
category_name       0
dtype: int64

In [8]:
df = df.dropna(axis=0)

# 자연어 전처리

### (1) Basic Preprocessing

In [9]:
df["title"] = df["title"].str.replace(pat=r'[^\w]', repl=r' ', regex=True)
df["tags"] = df["tags"].str.replace(pat=r'[^\w]', repl=r' ', regex=True)
df["description"] = df["description"].str.replace(pat=r'[^\w]', repl=r' ', regex=True)

### (2) Tokenize, 형태소 분석

In [10]:
pip install konlpy

Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from konlpy) (0.4.4)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: tweepy>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (3.10.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.3.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Requirement already satisfied: beautifulsoup4==4.6.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.6.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)

In [11]:
from konlpy.tag import Okt 
okt = Okt()

In [12]:
 def getTokenedData(df):

    splited_input=[]
   
    for i in df['title']:
        temp_X =[]
        temp_X = okt.morphs(i, stem=True)
       

        splited_input.append(temp_X)

    return splited_input

In [13]:
df['title'] = getTokenedData(df)

In [14]:
 def getTokenedData2(df):

    splited_input=[]
   
    for i in df['tags']:
        temp_X =[]
        temp_X = okt.morphs(i, stem=True)
       

        splited_input.append(temp_X)

    return splited_input

In [15]:
df['tags'] = getTokenedData2(df)

In [16]:
 def getTokenedData3(df):

    splited_input=[]
   
    for i in df['description']:
        temp_X =[]
        temp_X = okt.morphs(i, stem=True)
       

        splited_input.append(temp_X)

    return splited_input

In [17]:
df['description'] = getTokenedData3(df)

In [18]:
df.head()

  trending_date  ...    category_name
0      17.14.11  ...   People & Blogs
1      17.14.11  ...  News & Politics
2      17.14.11  ...   People & Blogs
3      17.14.11  ...  News & Politics
4      17.14.11  ...  News & Politics

[5 rows x 12 columns]

## 상위, 하위 10개 유튜브 목록

In [19]:
Q1 = df.views.quantile(0.25)
Q3 = df.views.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

popular_videos=df.loc[df.views > (Q3 + 1.5 * IQR)]

df['popular']=0
df.loc[df.views > (Q3 + 1.5 * IQR),'popular']=1

df['popular'].value_counts()

237495.75

0    26012
1     3252
Name: popular, dtype: int64

In [20]:
#make a variable that tells ratio of like and dislike
df['like_percentage']=(df['likes']/(df['likes']+df['dislikes'])*100)
#date column as datatime datatype
df["publish_time"] = pd.to_datetime(df["publish_time"])

In [21]:
#좋아요 가장 많이 받은 10개 동영상
df.loc[df.popular==1].sort_values(by=['like_percentage'], ascending=False).head(10)

      trending_date  ... like_percentage
26902      18.01.05  ...       99.907391
27000      18.02.05  ...       99.900354
373        17.16.11  ...       99.874160
706        17.17.11  ...       99.865656
15037      18.12.02  ...       99.863984
20913      18.20.03  ...       99.858964
2982       17.30.11  ...       99.855763
34101      18.12.06  ...       99.854310
11190      18.20.01  ...       99.851700
10083      18.14.01  ...       99.850548

[10 rows x 14 columns]

In [22]:
#싫어요 가장 많이 받은 10개 동영상

df.loc[df.popular==1].sort_values(by=['like_percentage'], ascending=True).head(10)

      trending_date  ... like_percentage
5874       17.18.12  ...        6.187603
16426      18.21.02  ...       21.375826
182        17.15.11  ...       25.730304
355        17.16.11  ...       25.800940
1225       17.20.11  ...       25.812489
986        17.19.11  ...       25.836336
748        17.18.11  ...       25.856373
21579      18.24.03  ...       25.894957
21303      18.23.03  ...       25.896739
546        17.17.11  ...       26.032517

[10 rows x 14 columns]

## TfidfVectorizer

In [23]:
tokenizer = Tokenizer()

def get_sequence_of_tokens(corpus):
    ## tokenization
    tokenizer.fit_on_texts(corpus)
    total_words = len(tokenizer.word_index) + 1
    
    ## convert data to sequence of tokens 
    input_sequences = []
    for line in corpus:
        token_list = tokenizer.texts_to_sequences([line])[0]
        for i in range(1, len(token_list)):
            n_gram_sequence = token_list[:i+1]
            input_sequences.append(n_gram_sequence)
    return input_sequences, total_words

inp_sequences, total_words = get_sequence_of_tokens(df['title'])
inp_sequences[:10]

[[199, 146],
 [199, 146, 3644],
 [199, 146, 3644, 23],
 [199, 146, 3644, 23, 2342],
 [199, 146, 3644, 23, 2342, 23],
 [199, 146, 3644, 23, 2342, 23, 199],
 [199, 146, 3644, 23, 2342, 23, 199, 1295],
 [199, 146, 3644, 23, 2342, 23, 199, 1295, 6],
 [1754, 580],
 [1754, 580, 80]]

In [26]:
def generate_padded_sequences(input_sequences):
    max_sequence_len = max([len(x) for x in input_sequences])
    input_sequences = np.array(pad_sequences(input_sequences, maxlen=max_sequence_len, padding='pre'))
    
  
    predictors, label = input_sequences[:,:-1],input_sequences[:,-1]
    label = tf.keras.utils.to_categorical(label, num_classes=total_words)
    return predictors, label, max_sequence_len

predictors, label, max_sequence_len = generate_padded_sequences(inp_sequences[:1000])

In [27]:

def create_model(max_sequence_len, total_words):
    input_len = max_sequence_len - 1
    model = Sequential()
    
    # Add Input Embedding Layer
    model.add(Embedding(total_words, 10, input_length=input_len))
    
    # Add Hidden Layer 1 - LSTM Layer
    model.add(LSTM(100))
    model.add(Dropout(0.1))
    
    # Add Output Layer
    model.add(Dense(total_words, activation='softmax'))

    model.compile(loss='categorical_crossentropy', optimizer='adam')
    
    return model

model = create_model(max_sequence_len, total_words)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 27, 10)            241500
_________________________________________________________________
lstm (LSTM)                  (None, 100)               44400
_________________________________________________________________
dropout (Dropout)            (None, 100)               0
_________________________________________________________________
dense (Dense)                (None, 24150)             2439150
=================================================================
Total params: 2,725,050
Trainable params: 2,725,050
Non-trainable params: 0
_________________________________________________________________

In [28]:
model.fit(predictors, label, epochs=50, verbose=5)

Epoch 1/50
Epoch 2/50
Epoch 3/50
Epoch 4/50
Epoch 5/50
Epoch 6/50
Epoch 7/50
Epoch 8/50
Epoch 9/50
Epoch 10/50
Epoch 11/50
Epoch 12/50
Epoch 13/50
Epoch 14/50
Epoch 15/50
Epoch 16/50
Epoch 17/50
Epoch 18/50
Epoch 19/50
Epoch 20/50
Epoch 21/50
Epoch 22/50
Epoch 23/50
Epoch 24/50
Epoch 25/50
Epoch 26/50
Epoch 27/50
Epoch 28/50
Epoch 29/50
Epoch 30/50
Epoch 31/50
Epoch 32/50
Epoch 33/50
Epoch 34/50
Epoch 35/50
Epoch 36/50
Epoch 37/50
Epoch 38/50
Epoch 39/50
Epoch 40/50
Epoch 41/50
Epoch 42/50
Epoch 43/50
Epoch 44/50
Epoch 45/50
Epoch 46/50
Epoch 47/50
Epoch 48/50
Epoch 49/50
Epoch 50/50

In [29]:
def generate_text(seed_text, next_words):
    for _ in range(next_words):
        token_list = tokenizer.texts_to_sequences([seed_text])[0]
        token_list = pad_sequences([token_list], maxlen=max_sequence_len-1, padding='pre')
        predicted = model.predict_classes(token_list, verbose=0)
        
        output_word = ""
        for word,index in tokenizer.word_index.items():
            if index == predicted:
                output_word = word
                break
        seed_text += " "+output_word
    return seed_text.title()

In [30]:
def generate_title_texts(words_list):
    for word in words_list:
        print(generate_text(word, random.randint(4, 10)))